# SonarQube
.sonar/
.sonar_lock
report-task.txt
ucfg2/

# Node modules
node_modules/

# Build artifacts
dist/
build/
*.log
*.tmp
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
