# Ignore everything by default
*

# Include necessary production files
!package.json
!README.md
!LICENSE
!out/extension.cjs

# Exclude development files
.vscode/
.vscodeignore
.git/
.gitignore
.eslint*
.prettier*
.markdownlint.json
tsconfig.json
src/
node_modules/
test/
*.ts
*.map
*.log
*.vsix
*.prof
*.py
*.ipynb
*.md
*.html
*.pdf
*.png
*.yml
*.yaml
*.lock
*.toml
*.xml
*.txt
*.json
*.js.map
*.js.flow
*.d.ts
*.tsbuildinfo
*.spec.js
*.test.js
*.spec.ts
*.test.ts
*.benchmark.js
*.benchmark.ts
*.min.js
*.min.js.map
*.min.css
*.min.css.map
*.min.html
*.min.html.map
*.min.json
*.min.json.map
*.min.txt
*.min.txt.map
*.min.xml
*.min.xml.map
*.min.yaml
*.min.yml
*.min.toml
*.min.lock
*.min.prof
*.min.py
*.min.ipynb
*.min.md
*.min.html
*.min.pdf
*.min.png